<body data_page_name="photos page">
  <nav>
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="photos/view_all">View All Photos</a></li>
      <li><a href="photos/add">Add Photos</a></li>
      <li><a href="photos/edit">Edit Photos</a></li>
      <li><a href="photos/delete">Delete Photos</a></li>
    </ul>
  </nav>
  
</body>