<body data_page_name="home page">
  <nav>
    <ul>
      <li><a href="photographers">Photographers Menu</a></li>
      <li><a href="photos">Photos Menu</a></li>
    </ul>
  </nav>
  
  
  <script type="text/javascript" src="/global.js"></script>
</body>