<header>
  <nav class="nav_container">
    <div id="hamburger" class="mobile">
      <img src="/menu.png">
    </div>
    <div id="mobileNav">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/albums">Albums</a></li>
          <li class="present">Add Albums</li>
          <li><a href="/albums/edit">Edit Albums</a></li>
          <li><a href="/albums/delete">Delete Albums</a></li>
        </ul>
      </nav>
      <div style="clear: both"></div>
    </div>
  </div>
  <% if @error %>
    <h3>There was an error adding the album. Please try again.</h3>
  <% end %>
</header>
<body data_page_name="albums page">
  <h1>Add Album</h1>
  <form action="/album/added">
    <input type="text" placeholder="Title" name="title">
    <input type="text" placeholder="Description" name="description">
    <input type="submit" value="Add Album">
  </form>
</body>