<header>
  <% if @error %>
    <h3>There was an error updating the album. Please try again.</h3>
  <% end %>
</header>
<nav>
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/albums">Albums</a></li>
  </ul>
</nav>

<h1>Edit Album</h1>

<h3>Choose Album to Edit</h3>
<form action="/album/edited">
  <select name="album_id">
    <% @albums.each do |album| %>
      <option value="<%= album.id %>"><%= album.id %>. <%= album.title %> -- <%= album.description %></option>
    <% end %>
  </select>
  <input type="text" size="20" placeholder="New title (leave blank to keep)" name="title">
  <input type="text" size="40" placeholder="New description (leave blank to keep)" name="description">
  <input type="submit" value="Update Album">
</form>