<header>
  <nav class="nav_container">
    <div id="hamburger" class="mobile">
      <img src="/menu.png">
    </div>
    <div id="mobileNav">
      <nav>
        <ul>
          <li><a href="albums/view_all">View All Albums</a></li>
          <li><a href="albums/add">Add Albums</a></li>
          <li><a href="albums/edit">Edit Albums</a></li>
          <li><a href="albums/delete">Delete Albums</a></li>
        </ul>
      </nav>
      <div style="clear: both"></div>
    </div>
  </div>
</header>

<body data_page_name="albums page">
  <!-- <nav>
    <ul>
      <li><a href="albums/view_all">View All Albums</a></li>
      <li><a href="albums/add">Add Albums</a></li>
      <li><a href="albums/edit">Edit Albums</a></li>
      <li><a href="albums/delete">Delete Albums</a></li>
    </ul>
  </nav> -->
  
</body>