<body data_page_name="albums page">
  <nav>
    <ul>
      <li><a href="albums/view_all">View All Photographers</a></li>
      <li><a href="albums/add">Add Photographers</a></li>
      <li><a href="albums/edit">Edit Photographers</a></li>
      <li><a href="albums/delete">Delete Photographers</a></li>
    </ul>
  </nav>
  
</body>