<header>
</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/photos">Photos Page</a></li>
  </ul>
</nav>
<h1><%= @album.name %></h1>
<ul id="view_photo">
  <li><%= @album.description %></li>
  <li>Photos:</li>
  <ul>
    <% @album.photos.each do |a| %>
    <% binding.pry %>
      <li><%= a.title %></li>
    <% end %>
  </ul>
</ul>