<header>
  <% if @error %>
    <h3>There was an error adding the photographer. Please try again.</h3>
  <% end %>
</header>

<nav>
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="/photographers">Photographer Menu</a></li>
  </ul>
</nav>
<h1>Add Photographer</h1>

<form action="/photographer/added">
  <input type="text" placeholder="Name" name="name">
  <input type="text" placeholder="Age" name="age">
  <input type="submit" value="Add Photographer">
</form>