<body data_page_name="photographers page">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="photographers/view_all">View All Photographers</a></li>
      <li><a href="photographers/add">Add Photographers</a></li>
      <li><a href="photographers/edit">Edit Photographers</a></li>
      <li><a href="photographers/delete">Delete Photographers</a></li>
    </ul>
  </nav>
  
</body>