<header>
</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/photographers">Photographers Page</a></li>
  </ul>
</nav>
<h1>Photographers:</h1>
<ul id="view_beers">
  <% @photographers.each do |photogs| %>
    <li><a href="/photographer/<%= photogs.id %>"><%= photogs.name %></a></li>
  <% end %>
</ul>