<header>
  <nav class="nav_container">
    <div id="hamburger" class="mobile">
      <img src="/menu.png">
    </div>
    <div id="mobileNav">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/photographers">Photographers</a></li>
          <li><a href="/photographers/add">Add Photographers</a></li>
          <li><a href="/photographers/edit">Edit Photographers</a></li>
          <li><a href="/photographers/delete">Delete Photographers</a></li>
        </ul>
      </nav>
      <div style="clear: both"></div>
    </div>
  </div>
</header>

<body data_page_name="photogs page">
  <h1><%= @photographer.name %></h1>
  <ul id="view_photographer">
    <li>Photos:</li>
    <ul>
      <% @photographer.photos.each do |a| %>
        <li><a href="/photos/<%= a.id %>"><%= a.title %></a></li>
          <ul>
            <li><%= a.description %></li>
        </ul>
      <% end %>
    </ul>
  </ul>
</body>