<header>
</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/photographers">Photographers Page</a></li>
  </ul>
</nav>
<h1>A list of all Photographers in the database:</h1>
<ul id="view_beers">
  <% @photographers.each do |photogs| %>
    <li>Name: <%= photogs.name %></li>
      <ul>
        <li>Age: <%= photogs.age %></li>
      </ul>
  <% end %>
</ul>